<div data-role="page" id="winelist" data-position="inline" data-back="true" data-dom-cache="false">
    <div data-role="header" id="wlistheader">
        <h1 class="wListTitle">{{title}}</h1>
        <a href="#home" data-icon="grid" class="ui-btn-right">Home</a>
    </div>
    <div data-role="content" id="wlistcontent" data-identity="{{document}}">
        <h2 class="restaurant">{{restaurant}}</h2>
        <p class="description">{{description}}</p>
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
        	{{#categories}}
        		<li data-theme="c">
            		<a href="#" data-transition="slide">
                		{{.}}
                	</a>
            	</li>
            {{/categories}}
        </ul>
        <div class="ui-body ui-body-b">
					<fieldset class="ui-grid-a">
						<!--<div id="addWineButton" class="ui-block-a"><a href="#addWinePage"><button type="submit" data-theme="d">Add Wine</button></div></a> /-->
						<ul class="ui-grid-a">
      						<!--<li style="width:100%;"><a href="#addWinePage" onclick="addWineListId('{{document}}');" data-transition="slideup" data-icon="plus">Add Wine</a></li>-->
      						<li style="width:100%;"><a href="../addwine/{{document}}" data-transition="slideup" data-icon="plus">Add Wine</a></li>
      					</ul>
						<div id="editListButton" class="ui-block-b"><button type="submit" data-theme="a">Edit List</button></div>
					</fieldset>
			</div>  
			<div data-role="footer" />      
    </div>
</div>


{{>scripts}}