<div data-role="page" id="winelist" data-position="inline" data-back="true" data-dom-cache="false">
    <div data-role="header" id="wlistheader">
        <h1 class="wListTitle">{{title}}</h1>
        <a href="#home" data-icon="grid" class="ui-btn-right">Home</a>
        <a href="#" id="deleteButton" data-icon="minus" data-theme="b" class="ui-btn-left">Delete</a>
    </div>
    <div data-role="content" id="wlistcontent" data-identity="{{document}}">
        <h2 class="restaurant">{{restaurant}}</h2>
        <p class="description">{{description}}</p>
        <ul data-role="listview" data-divider-theme="a" data-inset="true">
        	{{#categories}}
        		<li data-theme="c">
            		<a href= "../../wines_by_cat_id.html?{{document}},{{.}}" data-transition="slide">
                		{{.}}
                	</a>
            	</li>
            {{/categories}}
        </ul>
        <div class="ui-body ui-body-b">
					<fieldset class="ui-grid-a">
						<a href="../addwine/{{document}}"><div id="addWineButton" class="ui-block-a"><button type="submit" data-theme="d">Add Wine</button></div></a>
						<div id="editListButton" class="ui-block-b"><button type="submit" data-theme="a">Edit List</button></div>
					</fieldset>
			</div>  
			<div data-role="footer" />      
    </div>
</div>


{{>scripts}}
